<div>
    <h2 id="page-heading">
        <span jhiTranslate="tportalApp.category.home.title">Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category" [routerLink]="['/category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tportalApp.category.home.createLabel">
            Create a new Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="categories?.length === 0">
        <span jhiTranslate="tportalApp.category.home.notFound">No categories found</span>
    </div>
    <div class="table-responsive" *ngIf="categories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tportalApp.category.description">Description</span></th>
            <th><span jhiTranslate="tportalApp.category.sortOrder">Sort Order</span></th>
            <th><span jhiTranslate="tportalApp.category.dateAdded">Date Added</span></th>
            <th><span jhiTranslate="tportalApp.category.dateModified">Date Modified</span></th>
            <th><span jhiTranslate="tportalApp.category.status">Status</span></th>
            <th><span jhiTranslate="tportalApp.category.parent">Parent</span></th>
            <th><span jhiTranslate="tportalApp.category.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories ;trackBy: trackId">
                <td><a [routerLink]="['/category', category.id, 'view' ]">{{category.id}}</a></td>
                <td>{{category.description}}</td>
                <td>{{category.sortOrder}}</td>
                <td>{{category.dateAdded | date:'mediumDate'}}</td>
                <td>{{category.dateModified | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'tportalApp.CategoryStatus.' + category.status}}">{{category.status}}</td>
                <td>
                    <div *ngIf="category.parent">
                        <a [routerLink]="['/category', category.parent?.id, 'view' ]" >{{category.parent?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let product of category.products; let last = last">
                            <a class="form-control-static" [routerLink]="['/product', product?.id, 'view' ]">{{product.title}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/category', category.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/category', category.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/category', { outlets: { popup: category.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
